/* CSS Document */


*{margin:0; padding:0;}
html,body{font-size:12px; font-family:"Microsoft Yahei","simsun","arial"; color:#323232; background:#f0f0f0; width:100%;}
ul li,ol li{list-style:none;}
a{ text-decoration:none;outline:none; blr:expression(this.onFocus=this.blur()); cursor:pointer;}
img{border:none;}
/*清楚浮动*/
.clearfix:after{content:""; display:block; clear:both; height:0; line-height:0; visibility:hidden;}
.clearfix{zoom:1;}
img { border:none;}
i,b{ font-style:normal;}
input{ outline: none;}
.fl{ float:left;}
.fr{ float:right;}
a{ color:#323232;}
h2,h3,h4{ font-weight:normal;}


.register_bg{ background:url(../../images/login_register/bg_register.png) no-repeat center;  position:relative;}
.register_top{ width:100%; text-align:center; font-size:28px; color:#fff; position:absolute; top:-60px; z-index:200;}
.register_top img{ vertical-align:middle; margin-right:20px;}
.register_top label{width:480px; display:inline-block;
    height: 0;
    border-bottom: #fff 1px solid; vertical-align:middle; margin-left:20px;
    }
.position_register{ background:url(../../images/login_register/position_register.png) no-repeat center; width:877px; height:429px; position:absolute; top:54%; left:50%; margin:-214px 0 0 -438px;}
.register_news{ background:none;width:400px; height:400px; position:absolute; top:46%; left:76%; margin:-180px 0 0 -200px;}
.register_news .news_top{ text-align:center; font-size:16px; color:#333; border-bottom:1px solid #cacaca; padding-bottom:10px;}
.register_news p.p1{ width:80%; margin:0 auto;border-bottom:1px solid #ddd; padding:16px 4px 6px;}
.register_news p.p1 input{box-shadow: 0 0 0px 1000px white inset;font-family:"Microsoft Yahei","simsun","arial"; border:none; background:none; vertical-align:bottom; line-height:20px; font-size:14px; color:#999; width:240px; text-indent:10px;}
.register_news p.p1 img{ vertical-align:middle; border-right:1px solid #ddd; padding-right:4px;}
.register_news p.p2{ width:80%; margin:0 auto; margin-top:40px;}
.register_news p.p2 input{font-family:"Microsoft Yahei","simsun","arial"; cursor:pointer;background:#3faef4; border:none; font-size:16px; color:#fff; height:46px; line-height:46px; width:100%;}
.register_news p.p3{ width:80%; margin:0 auto; margin-top:10px; font-size:14px; color:#333;}
.register_news p.p3 label a{ color:#f13c3c; cursor:pointer;}
.register_news p.index_plan{ position:relative;}
.register_news p.index_plan input{ width:182px;}
.register_news p.index_plan .img_plan{ border-right:none; position:absolute; right:0;bottom:0; padding:0;}
.register_news p.dent_code{position:relative;}
.register_news p.dent_code input{ width:182px;}
.register_news p.dent_code label{ width:97px; height:38px; text-align:center; line-height:38px; color:#fff; background:#3faef4; font-size:14px; display:inline-block;
position:absolute; right:0;bottom:0; padding:0;

}
.register_news p.p4{width:80%; margin:0 auto; font-size:14px; color:#f13c3c; margin-bottom:10px; padding-left:14px;}
.register_news p.p4 img{ vertical-align:middle; margin-right:6px;}
.register_news p.pa4{ margin-top:0;}
.register_news p.plogin{ margin-top:26px; margin-bottom:26px;}
.register_news p.p_mgbt{ margin-bottom:16px;}
.register_news p.p5{width:90%; text-align:right; font-size:14px; color:#333; margin-bottom:10px; cursor:pointer;}
.register_news p.p5 a:hover{ color:#f13c3c;}
.register_news p.p_mtop{ margin-top:14px;}
.dent_code label:HOVER {
	cursor: pointer;
}


.register_news p.p6{ width:80%; margin:0 auto; margin-top:10px; font-size:14px; color:#333; line-height:30px;}
.register_news p.p6 label{ color:#f13c3c; display:inline-block; padding-left:50px; cursor:pointer;}
.register_news p.p6 span{ display:inline-block; width:90px;}







