@charset "utf-8";
/* CSS Document */
body,html,ul,li,div,a,h1,h2,h3,p,dl,dd,dt {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 12px;
	font-family: "微软雅黑";
	color: #666666;
}

.f14 a {
	right: 0px;
	font-size: 12px;
	position: absolute;
	top: 0px;
	color: #216DC7;
}

a {
	color: #666666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #e4393c;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.f14 {
	font-size: 14px;
}

.f16 {
	font-size: 16px;
}

.f18 {
	font-size: 16px;
}

.Width {
	width: 1200px;
	margin: 0 auto;
}

ul {
	list-style: none;
}

.red {
	color: #e4393c;
}

h1,h2,h3,h4,h5 {
	font-weight: normal;
}

img {
	border: none;
	border: 0px;
}

.blue {
	color: #0080FF;
}