@charset "utf-8";
/* CSS Document default*/

.login_right{
    float: right;
background: #fff;
width: 248px;
height: 443px;
border: 1px solid #E1E1E1;
border-top: none;
position: absolute;
top: 0px;

z-index: 999;
}
.denglu{
    height:85px;
    background-color:#F8F8F8;
}
.denglu dl dd{
    width: 65px;
    height: 65px;
    float: left;
    margin-right:20px;
    background: #EFEFEF;
    border-radius: 65px;
}
.denglu dl{
    padding: 10px 20px;
}
.denglu dl dt{
    width: 123px;
    float: left;
}

.immediately{
    border:1px solid #000000;
    line-height: 20px;
    padding: 2px 2px;
    border-radius: 3px;
    color:#474747;
    font-size: 12px;
}
.Add_to_w{
	color:#fd9727;
}
.Add_to_w:hover{
	color:#fd9727;
}
.immediately:hover{
    border: 1px solid #F85558;
    text-decoration:none;
}
.apply_for{
    width: 210px;
    height: 40px;
    margin: 10px 19px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 5px;
}
.apply_for a{
    color:#fff;
}
.apply_for a{
    width: 210px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}
.apply_for .sj{
    background: #F85558;
}
.apply_for .sj:hover{
    background: #FF9803;
    text-decoration:none
   /* border:1px solid #FF9803;*/
}
.apply_for .jjr{
    background: #454545;
}
.apply_for .jjr:hover{
    background: #FF9803;
    text-decoration:none
    /*border:1px solid #FF9803;*/
}
.apply_for a img{
    margin-right: 10px;
}
.apply_for a:hover{
    color:#fff;
    text-decoration:none;
}

#tab{
    border-top: 2px solid #FE9600;
}
.my_m{
    border-top: 2px solid #FE9600;

}
.my_m p{
	line-height: 30px;
}
.tab_menu li{
    float: left;
    text-align: center;
    width: 50%;
    line-height: 35px;
    font-size: 14px;
}
.tab_menu li a:hover{
	text-decoration:none;
}
.tab_box div ul li{
    float: left;
    text-align: center;
    width: 33.33%;
    line-height: 40px;
    font-size: 14px;
}
.tab_box{
    height: 44px;
    width:100%;
    overflow: hidden;
}
.tab_box div ul li a{
    font-size: 12px;
}
.tab_box div ul li a img{
    margin-right: 5px;
}
.m_l li{
    float: left;
    text-align: center;
    width: 48%;
    line-height: 35px;
    font-size: 14px;
}
.m_l li a:hover{
	text-decoration:none
}
.my_xw{
    margin: 3px 10px 0px 10px;
}
.my_xw p{
    line-height: 28px;
    width: 226px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.my_xw p a:hover{
	text-decoration:none;
}
.selected{
    background:#fff;
    height: 36px;
    display: block;
}
.selected a:hover{
	text-decoration:none;
}
.m_dj{
    background:#fff;
    height: 36px;
}
