@charset "utf-8";
/* CSS Document */
.lhelp{
	width:1200px;
	overflow:hidden;
	margin:14px auto;
}
.lhelp .lp_tit{
	height:38px;
	line-height:38px;
	background:#f5f5f5;
	padding-left:10px;
	font-size:16px;
}

.lhelp .lp_left{
	width:210px;
	overflow:hidden;
}

.lp_left .nch-module{
	overflow:hidden;
	border:1px #d7d7d7 solid;
	margin-bottom:10px;
}
.lp_left  .content{
	overflow:hidden;
	padding:10px 0px;
	position:relative;
	left:-1px;
}
.lp_left .lp_wzf{
	border-top:2px #d93600 solid;
}
.lp_left .lp_wzf ul li{
	width:103px;
	height:22px;
	line-height:22px;
	-background:#CCC;
	float:left;
	text-align:center;
	border-left:1px #dadada dashed;
	margin-top:10px;
	overflow:hidden;
}
.lp_left .lp_wzf ul li a{
	padding:0px 4px;
}
.lp_left  a:hover{
	color:#d93600;
}

.lp_left .lpzxwz ul li{
	height:28px;
	line-height:28px;
	padding-left:20px;
	position:relative;
	overflow:hidden;
}
.lp_left .lpzxwz ul li span{
	position:absolute;
	left:10px;
	top:12px;
	width:3px;
	height:3px;
	overflow:hidden;
	background:#777777;
}



.lp_right{
	width:936px;
	overflow:hidden;
	border:1px #e6e6e6 solid;
	padding:20px;
}
.lp_right .title-bar{
	padding-bottom:10px;
	border-bottom:1px #e6e6e6 solid;
	font-size:18px;
}

.lp_right .lpf_content{
	overflow:hidden;
	padding:14px 0px;
}
.lp_right .lpf_content li{
	height:28px;
	line-height:28px;
	padding-left:10px;
	position:relative;
	overflow:hidden;
}
.lp_right .lpf_content li i{
    position:absolute;
	left:0px;
	top:12px;
	width:3px;
	height:3px;
	overflow:hidden;
	background:#777777;
}

.lp_right .lpf_content li span{
	float:right;
}
















/*******帮助详情****/
.lpxpq_r{
	width:936px;
	padding:20px;
	overflow:hidden;
	border:1px #e6e6e6 solid;
}
.lpxpq_r .xq_tit{
	font-size:18px;
	text-align:center;
	color:#333333;
}
.lpxpq_r .lxq_time{
	text-align:center;
	padding:10px 0px 14px 0px;
	border-bottom:1px #e6e6e6 solid;
}
.lpxpq_r .lpf_content{
	padding:20px 0px 30px 0px;
	font-size:14px;
}
.lpxpq_r .more_article{
	height:50px;
	line-height:50px;
	border-top:1px #e6e6e6 solid;
}

