/* CSS Document */
.wrapper{ width:1100px; margin:0 auto;}

.wrapper_new{width:90%; margin-left: 8.6%; margin-top:60px; }

.bg_fff{ background:#fff;min-height:540px;}
.bg_fffno{ background:#fff;}
.main_pd{ padding:10px 26px;}
.text_fl{ text-align:left;}

.size14{ font-size:14px;}


*{margin:0; padding:0;}
html,body{font-size:14px; font-family:"Microsoft Yahei","simsun","arial"; color:#323232; background:#fff; width:100%;}
ul li,ol li{list-style:none;}
a{ text-decoration:none;outline:none; blr:expression(this.onFocus=this.blur()); cursor:pointer;}
img{border:none;}
/*清楚浮动*/
.clearfix:after{content:""; display:block; clear:both; height:0; line-height:0; visibility:hidden;}
.clearfix{zoom:1;}
img { border:none;}
i,b{ font-style:normal;}
input{ outline: none; vertical-align:middle;}
.fl{ float:left;}
.fr{ float:right;}
a{ color:#323232;}
h2,h3,h4{ font-weight:normal;}
input,select{ font-family:"Microsoft Yahei","simsun","arial";}


.top_password{ border-bottom:1px solid #cdcdcd; height:80px; line-height:80px; overflow:hidden;}
.top_password .fl_top{ overflow:hidden;height:80px;}
.top_password img{ width:auto; height:39px; margin-top:20px; border-right:1px solid #cdcdcd; padding-right:16px; float:left;}
.top_password span{ font-size:24px; float:left; padding-left:16px;}
.fr_top{ font-size:14px; color:#999;}
.fr_top a{ color:#999;}
.fr_top label{ color:#999; padding:0 4px;}
.fr_top a:hover{ text-decoration:underline;}

.conreturn{ width:680px; margin:0 auto;}
.border_line{ width:100%; height:5px; background:#ccc; border-radius:2px;
-webkit-border-radius:2px;
-o-border-radius:2px;
-ms-border-radius:2px;
-moz-border-radius:2px;
margin-top:40px;
}
.border_line p{height:5px; width:33.3%; float:left; text-align:center;
-webkit-border-radius:2px;
-o-border-radius:2px;
-ms-border-radius:2px;
-moz-border-radius:2px;
 }
 .border_line p span{ color:#999; font-size:14px; display:inline-block; margin-top:16px;}
 .border_line p.p1{ position:relative;
 background:#3faef4;}
.border_line p.p1 label{ display:inline-block; width:22px; text-align:center; height:22px; line-height:22px; background:#3faef4;
-webkit-border-radius:50px;
-o-border-radius:50px;
-ms-border-radius:50px;
-moz-border-radius:50px;
color:#fff;
position:absolute; left:47%; top:-10px;
}

 .border_line p.p2{ position:relative;
}
.border_line p.p2 label{ display:inline-block; width:22px; text-align:center; height:22px; line-height:22px; background:#ccc;
-webkit-border-radius:50px;
-o-border-radius:50px;
-ms-border-radius:50px;
-moz-border-radius:50px;
color:#fff;
position:absolute; left:47%; top:-10px;
}

 .border_line p.p3{ position:relative;
}
.border_line p.p3 label{ display:inline-block; width:22px; text-align:center; height:22px; line-height:22px; background:#ccc;
-webkit-border-radius:50px;
-o-border-radius:50px;
-ms-border-radius:50px;
-moz-border-radius:50px;
color:#fff;
position:absolute; left:47%; top:-10px;
}

.con_form{width:390px; margin:0 auto; margin-top:80px;}
.con_form p{ width:380px; height:40px; line-height:40px; border:1px solid #ddd; margin-bottom:30px;position: relative;}
.con_form p img{ vertical-align:middle; float:left; margin-top:4px; padding:4px 16px; border-right:1px solid #ddd;}
.con_form input{ border:none; background:none;float:left; line-height:40px; text-indent:10px; width: 200px;}

.con_form input.input_code{ float:right; width:90px; background:#3faef4; color:#fff; cursor:pointer;}
.con_form input.next{ width:248px; height:40px; background:#3faef4; color:#fff; margin-left:66px; margin-top:15px; cursor:pointer;}
.success{ width:71px; margin:0 auto; margin-top:120px;}

.error_phone{ position:absolute; right:-220px; display:inline-block; top:0; width:210px; overflow:hidden; color:#e60012;}

